<% layout("layouts/boilerplate.ejs") %>

<div class="container my-5">
  <div class="text-center mb-4">
    <h2 class="fw-bold">BCA 1st Year Resources</h2>
    <p class="text-muted">Explore notes, assignments, and helpful materials.</p>
  </div>

  <div class="container my-5">
    <!-- Top Center Card -->
    <div class="card text-center shadow mb-5 border-0">
      <div class="card-body">
        <h3 class="card-title fw-bold">Our Google Drive</h3>
        <p class="card-text text-muted">
          When Your Registration failed Error of your username not found then
          you can request to add enrollment
        </p>
        <a
          href="https://drive.google.com/drive/folders/1--XIny96jSncgwPCuSgscEVa8XnQxLK8"
          class="btn btn-success px-4"
          target="_blank"
          >Via Google Drive</a
        >
      </div>
    </div>
  </div>
</div>
